body{
    background-size: cover;
    background-position: center;
    font-family: 'Special Elite', cursive;
}

.heading{
    font-weight: 900;
    width: 100%;
    font-size: 25px;
}

canvas{
    border: 3px solid white;
    border-radius: 20px;
}